<br/>
<div class="search-bar">
  <div class="search-and-submit">

    {{input type="search" value=query placeholder="Search" }}
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    </button>
  </div>
</div>

<div class="cards">
  {{#each recipe in model}}

    <div class="card">
      <div class="card-image">
        {{#link-to "recipe" recipe}}
          <img {{ bind-attr src=recipe.imageUrl class="recipe.missingImage" }} />
        {{/link-to}}
      </div>
      <div class="card-header">
        {{#link-to "recipe" recipe}}
          {{recipe.name}}
        {{/link-to}}
      </div>
      <div class="card-copy">
        <p>{{recipe.description}}</p>
      </div>
    </div>

  {{/each}}
</div>



{{#if isPending}}
  {{partial "loader"}}
{{else}}

  {{#unless model }}
    {{#if hasQuery }}<p><br/><br/><br/><em>No recipes found with {{query}}</em></p>{{/if}}
  {{/unless}}

{{/if}}
