<h1>Recipes</h1>

<label>Search</label>
{{input type="text" class="form-control" value=query }}

{{#each recipe in filteredRecipes}}
  <h2>{{recipe.name}}</h2>
  <pre>{{recipe.ingredients}}</pre>
  <div>{{recipe.instructions}}</div>
{{/each}}

{{#if isPending}}
  <div><strong>...Loading...</strong></div>
{{else}}
  {{#unless filteredRecipes }}
    <em>No recipes found with {{query}}</em>
  {{/unless}}
{{/if}}
