


<br/>
<div class="search-bar">
  <div class="search-and-submit">

    {{input type="search" value=query placeholder="Search" }}
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    </button>
  </div>
</div>

<ul class="recipes">

  {{#each recipe in model}}
  <li>
    <h2 class="title">{{recipe.name}}</h2>
    <p>{{break-lines recipe.ingredients}}</p>
    <p>{{break-lines recipe.instructions}}</p>
  </li>
  {{/each}}
</ul>


{{#if isPending}}
  {{partial "loader"}}
{{else}}

  {{#unless model }}
    {{#if hasQuery }}<p><br/><br/><br/><em>No recipes found with {{query}}</em></p>{{/if}}
  {{/unless}}

{{/if}}
